@import url('colours.css');
@import url('dimension.css');
@import url('density.css');

:root {
	--badge-size-border-radius-lg: var(--fixed-150);
	--badge-size-border-radius-md: var(--fixed-150);
	--badge-size-border-radius-sm: var(--fixed-150);
	--button-size-border-radius-lg: var(--fixed-200);
	--button-size-border-radius-md: var(--fixed-150);
	--button-size-border-radius-sm: var(--fixed-150);
	--button-size-border-radius-xs: var(--fixed-100);
	--button-size-border-width-active: 1px;
	--button-size-interaction-border-width-hover: 2px;
	--button-size-interaction-border-width-pressed: 1px;
	--chip-size-border-radius-lg: var(--scale-1600);
	--chip-size-border-radius-md: var(--scale-1600);
	--chip-size-border-radius-sm: var(--scale-1600);
	--chip-size-border-width: 1px;
	--chip-size-interaction-border-width-hover: 1px;
	--chip-size-interaction-border-width-pressed: 2px;
	--colour-agnostic-black: var(--achromatic-black);
	--colour-agnostic-white: var(--achromatic-white);
	--colour-background-intense-alert: var(--amber-600);
	--colour-background-intense-brand-invert-primary: var(--asphalt-900);
	--colour-background-intense-brand-invert-secondary: var(--achromatic-00);
	--colour-background-intense-brand-primary: var(--emerald-300);
	--colour-background-intense-brand-secondary: var(--asphalt-900);
	--colour-background-intense-info: var(--sky-600);
	--colour-background-intense-negative: var(--crimson-600);
	--colour-background-intense-neutral-1: var(--asphalt-600);
	--colour-background-intense-neutral-2: var(--asphalt-700);
	--colour-background-intense-neutral-3: var(--asphalt-900);
	--colour-background-intense-offer: var(--amber-300);
	--colour-background-intense-positive: var(--emerald-600);
	--colour-background-intense-premium: var(--lavender-600);
	--colour-background-intense-rating-filled: var(--emerald-300);
	--colour-background-intense-rating-unfilled: var(--asphalt-300);
	--colour-background-moderate-neutral-1: var(--asphalt-200);
	--colour-background-moderate-neutral-2: var(--asphalt-300);
	--colour-background-moderate-neutral-3: var(--asphalt-400);
	--colour-background-subtle-alert: var(--amber-50);
	--colour-background-subtle-brand-primary: var(--emerald-50);
	--colour-background-subtle-brand-secondary: var(--asphalt-50);
	--colour-background-subtle-info: var(--sky-50);
	--colour-background-subtle-negative: var(--crimson-50);
	--colour-background-subtle-neutral-1: var(--achromatic-00);
	--colour-background-subtle-neutral-2: var(--asphalt-50);
	--colour-background-subtle-neutral-3: var(--asphalt-100);
	--colour-background-subtle-offer: var(--amber-50);
	--colour-background-subtle-positive: var(--emerald-50);
	--colour-background-subtle-premium: var(--lavender-50);
	--colour-border-intense-alert: var(--amber-600);
	--colour-border-intense-brand-primary: var(--emerald-300);
	--colour-border-intense-brand-secondary: var(--asphalt-900);
	--colour-border-intense-info: var(--sky-600);
	--colour-border-intense-negative: var(--crimson-600);
	--colour-border-intense-neutral: var(--asphalt-900);
	--colour-border-intense-offer: var(--amber-600);
	--colour-border-intense-on-intense: var(--achromatic-00);
	--colour-border-intense-on-intense-brand-invert-primary: var(--achromatic-00);
	--colour-border-intense-on-intense-brand-invert-secondary: var(--asphalt-900);
	--colour-border-intense-on-intense-brand-primary: var(--asphalt-900);
	--colour-border-intense-on-intense-brand-secondary: var(--achromatic-00);
	--colour-border-intense-on-intense-offer: var(--asphalt-900);
	--colour-border-intense-positive: var(--emerald-600);
	--colour-border-intense-premium: var(--lavender-600);
	--colour-border-moderate-neutral: var(--asphalt-500);
	--colour-border-subtle-alert: var(--amber-200);
	--colour-border-subtle-info: var(--sky-200);
	--colour-border-subtle-negative: var(--crimson-200);
	--colour-border-subtle-neutral: var(--asphalt-200);
	--colour-border-subtle-positive: var(--emerald-200);
	--colour-border-subtle-premium: var(--lavender-200);
	--colour-interaction-background-intense-alert-hover: var(--amber-500);
	--colour-interaction-background-intense-alert-pressed: var(--amber-700);
	--colour-interaction-background-intense-brand-primary-hover: var(--emerald-200);
	--colour-interaction-background-intense-brand-primary-pressed: var(--emerald-400);
	--colour-interaction-background-intense-brand-secondary-hover: var(--asphalt-800);
	--colour-interaction-background-intense-brand-secondary-pressed: var(--asphalt-950);
	--colour-interaction-background-intense-info-hover: var(--sky-500);
	--colour-interaction-background-intense-info-pressed: var(--sky-700);
	--colour-interaction-background-intense-invert-brand-primary-hover: var(--asphalt-800);
	--colour-interaction-background-intense-invert-brand-primary-pressed: var(--asphalt-950);
	--colour-interaction-background-intense-invert-brand-secondary-hover: var(--asphalt-50);
	--colour-interaction-background-intense-invert-brand-secondary-pressed: var(--asphalt-100);
	--colour-interaction-background-intense-negative-hover: var(--crimson-500);
	--colour-interaction-background-intense-negative-pressed: var(--crimson-700);
	--colour-interaction-background-intense-neutral-1-hover: var(--asphalt-500);
	--colour-interaction-background-intense-neutral-2-hover: var(--asphalt-600);
	--colour-interaction-background-intense-neutral-3-hover: var(--asphalt-800);
	--colour-interaction-background-intense-offer-hover: var(--amber-200);
	--colour-interaction-background-intense-offer-pressed: var(--amber-400);
	--colour-interaction-background-intense-positive-hover: var(--emerald-500);
	--colour-interaction-background-intense-positive-pressed: var(--emerald-700);
	--colour-interaction-background-intense-premium-hover: var(--lavender-500);
	--colour-interaction-background-intense-premium-pressed: var(--lavender-700);
	--colour-interaction-background-subtle-brand-primary-hover: var(--emerald-50);
	--colour-interaction-background-subtle-brand-secondary-hover: var(--asphalt-50);
	--colour-interaction-background-subtle-neutral-1-hover: var(--asphalt-50);
	--colour-interaction-background-subtle-neutral-1-pressed: var(--asphalt-100);
	--colour-interaction-background-subtle-neutral-2-hover: var(--asphalt-100);
	--colour-interaction-background-subtle-neutral-3-hover: var(--asphalt-200);
	--colour-interaction-border-intense-brand-primary-hover: var(--emerald-300);
	--colour-interaction-border-intense-brand-secondary-hover: var(--asphalt-900);
	--colour-overlay-darken-32: var(--alpha-32);
	--colour-overlay-darken-64: var(--alpha-64);
	--colour-overlay-darken-8: var(--alpha-8);
	--colour-overlay-darken-88: var(--alpha-88);
	--colour-text-intense-alert: var(--amber-600);
	--colour-text-intense-brand-primary: var(--emerald-600);
	--colour-text-intense-brand-secondary: var(--asphalt-900);
	--colour-text-intense-info: var(--sky-600);
	--colour-text-intense-negative: var(--crimson-600);
	--colour-text-intense-neutral: var(--asphalt-900);
	--colour-text-intense-offer: var(--amber-600);
	--colour-text-intense-on-intense: var(--achromatic-00);
	--colour-text-intense-on-intense-brand-invert-primary: var(--achromatic-00);
	--colour-text-intense-on-intense-brand-invert-secondary: var(--asphalt-900);
	--colour-text-intense-on-intense-brand-primary: var(--asphalt-900);
	--colour-text-intense-on-intense-brand-secondary: var(--achromatic-00);
	--colour-text-intense-on-intense-offer: var(--asphalt-900);
	--colour-text-intense-positive: var(--emerald-600);
	--colour-text-intense-premium: var(--lavender-600);
	--colour-text-moderate-neutral: var(--asphalt-600);
	--colour-text-subtle-neutral: var(--asphalt-400);
	--font-family-body: 'Inter';
	--font-family-heading: 'Inter';
	--font-letter-spacing-button: 0px;
	--font-letter-spacing-caption-high: 0px;
	--font-letter-spacing-caption-regular: 0px;
	--font-letter-spacing-h1: -1.5px;
	--font-letter-spacing-h2: -1px;
	--font-letter-spacing-h3: -1px;
	--font-letter-spacing-h4: -0.6px;
	--font-letter-spacing-h5: -0.5px;
	--font-letter-spacing-h6: -0.35px;
	--font-letter-spacing-micro: 0px;
	--font-letter-spacing-overline: 0.4px;
	--font-letter-spacing-subtitle-1-high: -0.3px;
	--font-letter-spacing-subtitle-1-regular: 0px;
	--font-letter-spacing-subtitle-2-high: -0.1px;
	--font-letter-spacing-subtitle-2-regular: 0px;
	--font-line-height-button: 24px;
	--font-line-height-caption: 16px;
	--font-line-height-h1: 72px;
	--font-line-height-h2: 60px;
	--font-line-height-h3: 48px;
	--font-line-height-h4: 40px;
	--font-line-height-h5: 30px;
	--font-line-height-h6: 26px;
	--font-line-height-micro: 12px;
	--font-line-height-overline: 16px;
	--font-line-height-subtitle-1: 24px;
	--font-line-height-subtitle-2: 22px;
	--font-size-button-1: 16px;
	--font-size-button-2: 14px;
	--font-size-caption: 12px;
	--font-size-h1: 69px;
	--font-size-h2: 50px;
	--font-size-h3: 40px;
	--font-size-h4: 32px;
	--font-size-h5: 25px;
	--font-size-h6: 20px;
	--font-size-micro: 10px;
	--font-size-overline: 11px;
	--font-size-subtitle-1: 16px;
	--font-size-subtitle-2: 14px;
	--font-weight-heading: 700;
	--font-weight-high: 700;
	--font-weight-medium: 600;
	--font-weight-regular: 400;
	--hyperlink-colour-active: var(--sky-600);
	--hyperlink-colour-interaction-disabled: var(--asphalt-400);
	--hyperlink-colour-interaction-hover: var(--sky-500);
	--hyperlink-colour-interaction-visited: var(--lavender-700);
	--icon-border-width-lg: 2px;
	--icon-border-width-md: 1.5px;
	--icon-border-width-sm: 1px;
	--icon-size-lg: var(--fixed-md-2);
	--icon-size-md: var(--fixed-md-1);
	--icon-size-sm: var(--fixed-sm-5);
	--screen-colour-alt: var(--asphalt-50);
	--screen-colour-default: var(--achromatic-00);
	--screen-space-default: var(--scale-200);
	--screen-space-optical: var(--scale-100);
	--size-border-radius-lg: var(--fixed-200);
	--size-border-radius-md: var(--fixed-150);
	--size-border-radius-pill: var(--scale-1600);
	--size-border-radius-sm: var(--fixed-100);
	--size-border-radius-xl: var(--fixed-300);
	--size-border-radius-xs: var(--fixed-50);
	--size-border-radius-xxl: var(--fixed-400);
	--size-interaction-border-width-hover: 1px;
	--size-interaction-border-width-pressed: 2px;
	--space-fixed-md-1: var(--fixed-md-1);
	--space-fixed-md-2: var(--fixed-md-2);
	--space-fixed-md-3: var(--fixed-md-3);
	--space-fixed-md-4: var(--fixed-md-4);
	--space-fixed-sm-1: var(--fixed-sm-1);
	--space-fixed-sm-2: var(--fixed-sm-2);
	--space-fixed-sm-3: var(--fixed-sm-3);
	--space-fixed-sm-4: var(--fixed-sm-4);
	--space-fixed-sm-5: var(--fixed-sm-5);
	--space-scale-lg-1: var(--scale-lg-1);
	--space-scale-lg-2: var(--scale-lg-2);
	--space-scale-lg-3: var(--scale-lg-3);
	--space-scale-lg-4: var(--scale-lg-4);
	--space-scale-lg-5: var(--scale-lg-5);
	--space-scale-md-1: var(--scale-md-1);
	--space-scale-md-2: var(--scale-md-2);
	--space-scale-md-3: var(--scale-md-3);
	--space-scale-md-4: var(--scale-md-4);
	--space-scale-md-5: var(--scale-md-5);
	--space-scale-sm-3: var(--scale-sm-3);
	--space-scale-sm-4: var(--scale-sm-4);
	--space-scale-sm-5: var(--scale-sm-5);
}
