/* colours - light */
:root {
  --asphalt-50: #F5F5F5FF;
  --achromatic-00: #FFFFFFFF;
  --asphalt-100: #F1F1F1FF;
  --achromatic-black: #212121FF;
  --asphalt-200: #DDDDDDFF;
  --achromatic-white: #FFFFFFFF;
  --asphalt-300: #C5C5C5FF;
  --asphalt-400: #AAAAAAFF;
  --asphalt-500: #868686FF;
  --asphalt-600: #6C6C6CFF;
  --asphalt-700: #505050FF;
  --asphalt-800: #383838FF;
  --asphalt-900: #282828FF;
  --asphalt-950: #191919FF;
  --berry-50: #FEF3F5FF;
  --firebrick-50: #FCF4F4FF;
  --firebrick-100: #FBEEEEFF;
  --firebrick-200: #F5D5D5FF;
  --firebrick-300: #EDB8B8FF;
  --firebrick-400: #E49494FF;
  --firebrick-500: #D86161FF;
  --firebrick-600: #C93232FF;
  --firebrick-700: #962626FF;
  --firebrick-800: #6B1B1BFF;
  --firebrick-900: #4B1313FF;
  --firebrick-950: #330D0DFF;
  --berry-100: #FEEDF0FF;
  --berry-200: #FBD3D9FF;
  --berry-300: #F9B3BEFF;
  --berry-400: #F68A9CFF;
  --berry-500: #F04763FF;
  --berry-600: #D61132FF;
  --berry-700: #A10D26FF;
  --berry-800: #74091BFF;
  --berry-900: #520713FF;
  --berry-950: #39050DFF;
  --crimson-50: #FFF4EEFF;
  --amber-50: #FDF5E4FF;
  --amber-100: #FDF0D5FF;
  --amber-200: #F9D995FF;
  --amber-300: #F4BD45FF;
  --amber-400: #E09D0DFF;
  --amber-500: #B27D0AFF;
  --amber-600: #8F6408FF;
  --amber-700: #6A4A06FF;
  --gold-50: #FFF6D0FF;
  --gold-100: #FFF2B6FF;
  --gold-200: #FFDB35FF;
  --gold-300: #ECC100FF;
  --gold-400: #CBA600FF;
  --gold-500: #A18400FF;
  --gold-600: #816A00FF;
  --gold-700: #604F00FF;
  --gold-800: #443800FF;
  --gold-900: #2F2600FF;
  --gold-950: #1F1900FF;
  --amber-800: #4B3404FF;
  --amber-900: #342403FF;
  --amber-950: #221802FF;
  --crimson-100: #FEEEE6FF;
  --crimson-200: #FDD4C0FF;
  --crimson-300: #FCB592FF;
  --crimson-400: #FA8D55FF;
  --crimson-500: #EB5407FF;
  --crimson-600: #BE4305FF;
  --crimson-700: #8D3204FF;
  --crimson-800: #652403FF;
  --crimson-900: #461902FF;
  --crimson-950: #2F1101FF;
  --emerald-50: #E7FAF3FF;
  --emerald-100: #DAF8ECFF;
  --emerald-200: #83F1C5FF;
  --emerald-300: #18E190FF;
  --emerald-400: #15C27CFF;
  --sky-50: #EFF7FFFF;
  --sky-100: #E6F3FFFF;
  --sky-200: #C1E0FFFF;
  --sky-300: #96CAFFFF;
  --sky-400: #5EAEFFFF;
  --sky-500: #0B85FFFF;
  --sky-600: #006AD4FF;
  --sky-700: #004F9EFF;
  --sky-800: #003870FF;
  --sky-900: #00274EFF;
  --sky-950: #001A35FF;
  --teal-50: #E9F9F9FF;
  --teal-100: #DDF6F6FF;
  --teal-200: #A9E8E8FF;
  --teal-300: #67D6D6FF;
  --teal-400: #32BBBBFF;
  --teal-500: #289595FF;
  --teal-600: #207878FF;
  --teal-700: #185959FF;
  --teal-800: #113F3FFF;
  --teal-900: #0C2B2BFF;
  --teal-950: #081D1DFF;
  --emerald-500: #119A62FF;
  --emerald-600: #0D7C4FFF;
  --emerald-700: #0A5C3BFF;
  --emerald-800: #07412AFF;
  --emerald-900: #052D1DFF;
  --emerald-950: #031E13FF;
  --lavender-50: #F7F5FBFF;
  --lavender-100: #F3EFF9FF;
  --lavender-200: #E2D9F1FF;
  --lavender-300: #CFBEE8FF;
  --lavender-400: #B79FDDFF;
  --lavender-500: #9876CEFF;
  --lavender-600: #8055C2FF;
  --lavender-700: #6139A0FF;
  --lavender-800: #452871FF;
  --lavender-900: #301C4EFF;
  --lavender-950: #201334FF;
  --screen-1: #FFFFFFFF;
  --screen-2: #F5F5F5FF;
  --blue-50: #F0F7FDFF;
  --blue-100: #E8F3FCFF;
  --blue-200: #C5E0F8FF;
  --blue-300: #9CCBF2FF;
  --blue-400: #69B0ECFF;
  --blue-500: #218AE2FF;
  --blue-600: #186FB8FF;
  --blue-700: #125289FF;
  --blue-800: #0C3A61FF;
  --blue-900: #092843FF;
  --blue-950: #061B2DFF;
  --tangerine-50: #FFF5E6FF;
  --tangerine-100: #FFEFD9FF;
  --tangerine-200: #FFD69FFF;
  --tangerine-300: #FFB756FF;
  --tangerine-400: #F99000FF;
  --tangerine-500: #C67200FF;
  --tangerine-600: #9F5C00FF;
  --tangerine-700: #764400FF;
  --tangerine-800: #543000FF;
  --tangerine-900: #3A2100FF;
  --tangerine-950: #261600FF;
  --marine-base: #092845FF;
  --marine-50: #F5F6F7FF;
  --marine-100: #EFF1F3FF;
  --marine-200: #D8DDE2FF;
  --marine-300: #BEC6CFFF;
  --marine-400: #9EABB8FF;
  --marine-500: #76899AFF;
  --marine-600: #586F84FF;
  --marine-700: #38526CFF;
  --marine-800: #1C3A57FF;
  --marine-900: #092845FF;
  --marine-950: #1F1900FF;
  --mauve-50: #FAF5F6FF;
  --mauve-100: #F6EFF1FF;
  --mauve-200: #EAD9DCFF;
  --mauve-300: #DBBEC3FF;
  --mauve-400: #CA9FA6FF;
  --mauve-500: #B37681FF;
  --mauve-600: #9D5764FF;
  --mauve-700: #75414AFF;
  --mauve-800: #522E34FF;
  --mauve-900: #392024FF;
  --mauve-950: #261518FF;
  --cocoa-50: #F9F5F1FF;
  --cocoa-100: #F6F0EAFF;
  --cocoa-200: #EADACCFF;
  --cocoa-300: #DBC1A9FF;
  --cocoa-400: #CAA27FFF;
  --cocoa-500: #B17B4AFF;
  --cocoa-600: #8E633BFF;
  --cocoa-700: #69492CFF;
  --cocoa-800: #4A341FFF;
  --cocoa-900: #332415FF;
  --cocoa-950: #22170EFF;
  --clay-50: #FAF5EFFF;
  --clay-100: #F7F0E7FF;
  --clay-200: #EBDAC3FF;
  --clay-300: #DDC19AFF;
  --clay-400: #CDA368FF;
  --clay-500: #B28248FF;
  --clay-600: #8B652FFF;
  --clay-700: #634D00FF;
  --clay-800: #463700FF;
  --clay-900: #322411FF;
  --clay-950: #251B0CFF;
  --forest-50: #F1F7F6FF;
  --forest-100: #EAF3F1FF;
  --forest-200: #CBE1DCFF;
  --forest-300: #A8CDC4FF;
  --forest-400: #7DB4A8FF;
  --forest-500: #549283FF;
  --forest-600: #43756AFF;
  --forest-700: #33574EFF;
  --forest-800: #243D37FF;
  --forest-900: #192A26FF;
  --forest-950: #121F1CFF;
  --mirabella-50: #F7F5F8FF;
  --mirabella-100: #F2F0F5FF;
  --mirabella-200: #E0DBE6FF;
  --mirabella-300: #CAC2D4FF;
  --mirabella-400: #B1A5C0FF;
  --mirabella-500: #907FA6FF;
  --mirabella-600: #77648FFF;
  --mirabella-700: #584A6AFF;
  --mirabella-800: #3E344BFF;
  --mirabella-900: #2B2433FF;
  --mirabella-950: #201A26FF;
  --azure-50: #F1F7FAFF;
  --azure-100: #EAF2F8FF;
  --azure-200: #CAE0EDFF;
  --azure-300: #A6CAE1FF;
  --azure-400: #7AB0D2FF;
  --azure-500: #408DBEFF;
  --azure-600: #337299FF;
  --azure-700: #265471FF;
  --azure-800: #1B3C50FF;
  --azure-900: #122937FF;
  --azure-950: #0E1E29FF;
  --scarlet-base: #ED1C2EFF;
  --scarlet-50: #FEF3F4FF;
  --scarlet-100: #FEEDEFFF;
  --scarlet-200: #FBD3D6FF;
  --scarlet-300: #F9B3B9FF;
  --scarlet-400: #F68B93FF;
  --scarlet-500: #F04957FF;
  --scarlet-600: #D71122FF;
  --scarlet-700: #A20D19FF;
  --scarlet-800: #750912FF;
  --scarlet-900: #53070DFF;
  --scarlet-950: #390509FF;
  --alpha-88: #000000E0;
  --alpha-64: #000000A3;
  --alpha-32: #00000052;
  --alpha-8: #00000014;
}
