@import url('colours.css');
@import url('dimension.css');
@import url('density.css');

:root {
	--badge-size-border-radius-lg: 0px;
	--badge-size-border-radius-md: 0px;
	--badge-size-border-radius-sm: 0px;
	--button-size-border-radius-lg: 0px;
	--button-size-border-radius-md: 0px;
	--button-size-border-radius-sm: 0px;
	--button-size-border-radius-xs: 0px;
	--button-size-border-width-active: 1px;
	--button-size-interaction-border-width-hover: 2px;
	--button-size-interaction-border-width-pressed: 1px;
	--chip-size-border-radius-lg: 0px;
	--chip-size-border-radius-md: 0px;
	--chip-size-border-radius-sm: 0px;
	--chip-size-border-width: 1px;
	--chip-size-interaction-border-width-hover: 1px;
	--chip-size-interaction-border-width-pressed: 1px;
	--colour-agnostic-black: var(--achromatic-black);
	--colour-agnostic-white: var(--achromatic-white);
	--colour-background-intense-alert: var(--cocoa-600);
	--colour-background-intense-brand-invert-primary: var(--achromatic-00);
	--colour-background-intense-brand-invert-secondary: var(--achromatic-00);
	--colour-background-intense-brand-primary: var(--clay-600);
	--colour-background-intense-brand-secondary: var(--asphalt-900);
	--colour-background-intense-info: var(--azure-600);
	--colour-background-intense-negative: var(--mauve-600);
	--colour-background-intense-neutral-1: var(--asphalt-600);
	--colour-background-intense-neutral-2: var(--asphalt-700);
	--colour-background-intense-neutral-3: var(--asphalt-900);
	--colour-background-intense-offer: var(--forest-600);
	--colour-background-intense-positive: var(--forest-600);
	--colour-background-intense-premium: var(--mirabella-600);
	--colour-background-intense-rating-filled: var(--asphalt-900);
	--colour-background-intense-rating-unfilled: var(--asphalt-300);
	--colour-background-moderate-neutral-1: var(--asphalt-200);
	--colour-background-moderate-neutral-2: var(--asphalt-300);
	--colour-background-moderate-neutral-3: var(--asphalt-400);
	--colour-background-subtle-alert: var(--cocoa-100);
	--colour-background-subtle-brand-primary: var(--clay-50);
	--colour-background-subtle-brand-secondary: var(--asphalt-50);
	--colour-background-subtle-info: var(--azure-100);
	--colour-background-subtle-negative: var(--mauve-100);
	--colour-background-subtle-neutral-1: var(--achromatic-00);
	--colour-background-subtle-neutral-2: var(--asphalt-50);
	--colour-background-subtle-neutral-3: var(--asphalt-100);
	--colour-background-subtle-offer: var(--forest-100);
	--colour-background-subtle-positive: var(--forest-100);
	--colour-background-subtle-premium: var(--mirabella-100);
	--colour-border-intense-alert: var(--cocoa-600);
	--colour-border-intense-brand-primary: var(--clay-600);
	--colour-border-intense-brand-secondary: var(--asphalt-900);
	--colour-border-intense-info: var(--azure-600);
	--colour-border-intense-negative: var(--mauve-600);
	--colour-border-intense-neutral: var(--asphalt-900);
	--colour-border-intense-offer: var(--forest-600);
	--colour-border-intense-on-intense: var(--achromatic-00);
	--colour-border-intense-on-intense-brand-invert-primary: var(--asphalt-900);
	--colour-border-intense-on-intense-brand-invert-secondary: var(--asphalt-900);
	--colour-border-intense-on-intense-brand-primary: var(--achromatic-00);
	--colour-border-intense-on-intense-brand-secondary: var(--achromatic-00);
	--colour-border-intense-on-intense-offer: var(--achromatic-00);
	--colour-border-intense-positive: var(--forest-600);
	--colour-border-intense-premium: var(--mirabella-600);
	--colour-border-moderate-neutral: var(--asphalt-400);
	--colour-border-subtle-alert: var(--cocoa-200);
	--colour-border-subtle-info: var(--azure-200);
	--colour-border-subtle-negative: var(--mauve-200);
	--colour-border-subtle-neutral: var(--asphalt-200);
	--colour-border-subtle-positive: var(--forest-200);
	--colour-border-subtle-premium: var(--mirabella-200);
	--colour-interaction-background-intense-alert-hover: var(--cocoa-500);
	--colour-interaction-background-intense-alert-pressed: var(--cocoa-700);
	--colour-interaction-background-intense-brand-primary-hover: var(--clay-500);
	--colour-interaction-background-intense-brand-primary-pressed: var(--clay-700);
	--colour-interaction-background-intense-brand-secondary-hover: var(--asphalt-800);
	--colour-interaction-background-intense-brand-secondary-pressed: var(--asphalt-950);
	--colour-interaction-background-intense-info-hover: var(--azure-500);
	--colour-interaction-background-intense-info-pressed: var(--azure-700);
	--colour-interaction-background-intense-invert-brand-primary-hover: var(--asphalt-50);
	--colour-interaction-background-intense-invert-brand-primary-pressed: var(--asphalt-100);
	--colour-interaction-background-intense-invert-brand-secondary-hover: var(--asphalt-50);
	--colour-interaction-background-intense-invert-brand-secondary-pressed: var(--asphalt-100);
	--colour-interaction-background-intense-negative-hover: var(--mauve-500);
	--colour-interaction-background-intense-negative-pressed: var(--mauve-700);
	--colour-interaction-background-intense-neutral-1-hover: var(--asphalt-500);
	--colour-interaction-background-intense-neutral-2-hover: var(--asphalt-600);
	--colour-interaction-background-intense-neutral-3-hover: var(--asphalt-900);
	--colour-interaction-background-intense-offer-hover: var(--forest-500);
	--colour-interaction-background-intense-offer-pressed: var(--forest-700);
	--colour-interaction-background-intense-positive-hover: var(--forest-500);
	--colour-interaction-background-intense-positive-pressed: var(--forest-700);
	--colour-interaction-background-intense-premium-hover: var(--mirabella-500);
	--colour-interaction-background-intense-premium-pressed: var(--mirabella-700);
	--colour-interaction-background-subtle-brand-primary-hover: var(--clay-50);
	--colour-interaction-background-subtle-brand-secondary-hover: var(--asphalt-50);
	--colour-interaction-background-subtle-neutral-1-hover: var(--asphalt-50);
	--colour-interaction-background-subtle-neutral-1-pressed: var(--asphalt-100);
	--colour-interaction-background-subtle-neutral-2-hover: var(--asphalt-100);
	--colour-interaction-background-subtle-neutral-3-hover: var(--asphalt-200);
	--colour-interaction-border-intense-brand-primary-hover: var(--clay-600);
	--colour-interaction-border-intense-brand-secondary-hover: var(--asphalt-900);
	--colour-overlay-darken-32: var(--alpha-32);
	--colour-overlay-darken-64: var(--alpha-64);
	--colour-overlay-darken-8: var(--alpha-8);
	--colour-overlay-darken-88: var(--alpha-88);
	--colour-text-intense-alert: var(--cocoa-600);
	--colour-text-intense-brand-primary: var(--clay-600);
	--colour-text-intense-brand-secondary: var(--asphalt-900);
	--colour-text-intense-info: var(--azure-600);
	--colour-text-intense-negative: var(--mauve-600);
	--colour-text-intense-neutral: var(--asphalt-900);
	--colour-text-intense-offer: var(--forest-600);
	--colour-text-intense-on-intense: var(--achromatic-00);
	--colour-text-intense-on-intense-brand-invert-primary: var(--asphalt-900);
	--colour-text-intense-on-intense-brand-invert-secondary: var(--asphalt-900);
	--colour-text-intense-on-intense-brand-primary: var(--achromatic-00);
	--colour-text-intense-on-intense-brand-secondary: var(--achromatic-00);
	--colour-text-intense-on-intense-offer: var(--achromatic-00);
	--colour-text-intense-positive: var(--forest-600);
	--colour-text-intense-premium: var(--mirabella-600);
	--colour-text-moderate-neutral: var(--asphalt-600);
	--colour-text-subtle-neutral: var(--asphalt-400);
	--font-family-body: 'Host Grotesk';
	--font-family-heading: 'Host Grotesk';
	--font-letter-spacing-button: 0.4px;
	--font-letter-spacing-caption-high: 0.4px;
	--font-letter-spacing-caption-regular: 0.4px;
	--font-letter-spacing-h1: 0px;
	--font-letter-spacing-h2: 0px;
	--font-letter-spacing-h3: 0px;
	--font-letter-spacing-h4: 0px;
	--font-letter-spacing-h5: 0px;
	--font-letter-spacing-h6: 0.2px;
	--font-letter-spacing-micro: 0.4px;
	--font-letter-spacing-overline: 1px;
	--font-letter-spacing-subtitle-1-high: 0.3px;
	--font-letter-spacing-subtitle-1-regular: 0.3px;
	--font-letter-spacing-subtitle-2-high: 0.3px;
	--font-letter-spacing-subtitle-2-regular: 0.3px;
	--font-line-height-button: 24px;
	--font-line-height-caption: 16px;
	--font-line-height-h1: 86px;
	--font-line-height-h2: 69px;
	--font-line-height-h3: 55px;
	--font-line-height-h4: 44px;
	--font-line-height-h5: 35px;
	--font-line-height-h6: 28px;
	--font-line-height-micro: 12px;
	--font-line-height-overline: 16px;
	--font-line-height-subtitle-1: 24px;
	--font-line-height-subtitle-2: 22px;
	--font-size-button-1: 16px;
	--font-size-button-2: 14px;
	--font-size-caption: 12px;
	--font-size-h1: 69px;
	--font-size-h2: 55px;
	--font-size-h3: 44px;
	--font-size-h4: 35px;
	--font-size-h5: 28px;
	--font-size-h6: 22px;
	--font-size-micro: 10px;
	--font-size-overline: 11px;
	--font-size-subtitle-1: 16px;
	--font-size-subtitle-2: 14px;
	--font-weight-heading: 700;
	--font-weight-high: 700;
	--font-weight-medium: 600;
	--font-weight-regular: 400;
	--hyperlink-colour-active: var(--azure-600);
	--hyperlink-colour-interaction-disabled: var(--asphalt-400);
	--hyperlink-colour-interaction-hover: var(--azure-500);
	--hyperlink-colour-interaction-visited: var(--mirabella-700);
	--icon-border-width-lg: 1px;
	--icon-border-width-md: 1px;
	--icon-border-width-sm: 1px;
	--icon-size-lg: var(--fixed-md-2);
	--icon-size-md: var(--fixed-md-1);
	--icon-size-sm: var(--fixed-sm-5);
	--screen-colour-alt: var(--asphalt-50);
	--screen-colour-default: var(--achromatic-00);
	--screen-space-default: var(--scale-300);
	--screen-space-optical: var(--scale-200);
	--size-border-radius-lg: 0px;
	--size-border-radius-md: 0px;
	--size-border-radius-pill: 0px;
	--size-border-radius-sm: 0px;
	--size-border-radius-xl: 0px;
	--size-border-radius-xs: 0px;
	--size-border-radius-xxl: 0px;
	--size-interaction-border-width-hover: 1px;
	--size-interaction-border-width-pressed: 2px;
	--space-fixed-md-1: var(--fixed-md-1);
	--space-fixed-md-2: var(--fixed-md-2);
	--space-fixed-md-3: var(--fixed-md-3);
	--space-fixed-md-4: var(--fixed-md-4);
	--space-fixed-sm-1: var(--fixed-sm-1);
	--space-fixed-sm-2: var(--fixed-sm-2);
	--space-fixed-sm-3: var(--fixed-sm-3);
	--space-fixed-sm-4: var(--fixed-sm-4);
	--space-fixed-sm-5: var(--fixed-sm-5);
	--space-scale-lg-1: var(--scale-lg-1);
	--space-scale-lg-2: var(--scale-lg-2);
	--space-scale-lg-3: var(--scale-lg-3);
	--space-scale-lg-4: var(--scale-lg-4);
	--space-scale-lg-5: var(--scale-lg-5);
	--space-scale-md-1: var(--scale-md-1);
	--space-scale-md-2: var(--scale-md-2);
	--space-scale-md-3: var(--scale-md-3);
	--space-scale-md-4: var(--scale-md-4);
	--space-scale-md-5: var(--scale-md-5);
	--space-scale-sm-3: var(--scale-sm-3);
	--space-scale-sm-4: var(--scale-sm-4);
	--space-scale-sm-5: var(--scale-sm-5);
}
